:root {
  --main-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --main-weight: 500;
  --white-color: rgb(255, 255, 255);
  --label-profile: rgb(142, 141, 140);
  --bg-profile: rgb(194, 191, 191);
  --label-profile-tx: rgb(96, 96, 96);

  --transaction-bg: rgb(62, 202, 233);
  --transaction-bg-item: rgb(165, 221, 233);
  --transaction-border: rgb(221, 221, 221);
}
