@import "../../styles/variables.module.css";

.statistics {
  width: 500px;
  height: 215px;
  display: flex;
  box-shadow: var(--main-shadow);
  flex-direction: column;
  margin-bottom: 50px;
}

.statList {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-bottom: 0;
}
.item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label,
.percentage {
  color: var(--white-color);
  font-weight: var(--main-weight);
  font-size: 18px;
}

.title {
  font-size: 32px;
}
